
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
		Здравствуйте.<br />
		Поступил запрос на восстановление пароля к сайту <%= @url %>
		Новый пароль:<b><%= @new_passwd %></b>
	</p>
<br />
<p>Ваш сайт.))</p>
  </body>
</html>
