:sass
  .image
    padding: 20px
.image.central 
  = image_tag "/assets/magazine.jpg", class: "central"
.text
  %p
    В 2000 году у нас дома появился первый стаффик. Завести собаку была идея мужа. На тот момент он больше знал о породе и о том, какой должен быть амстафф. 
  %p
    Я же, в свою очередь, просто с детства любила животных, в особенности собак, но не имела ни малейшего представления, что это за порода такая – Американский Стаффордширский Терьер.
  %p
    По инициативе мужа я занялась поисками щенка – мальчика, черного окраса. Через несколько месяцев из Минска в Варшаву со мной ехал маленький черный комочек. Тайсон вырос умным, мощным, красивым, спортивным псом.
  %p
    Он даже был “полиглотом”: знал два языка, польский и русский! Был большой умницей: переходил дорогу на зеленый свет, хотя его этому никто не учил, никогда не трогал котов, не дрался с собаками, обожал детей, был очень послушным и милым, любимцем всей округи, как в Варшаве, так и в Бресте.
  %p
    Мы без проблем брали его с собой в поездки на машине и поезде. Он так понравился работникам таможни, что они до сих пор его помнят.
    Мой Тайсон покорил мое сердце и на всю жизнь привил любовь к этой замечательной породе! Только потом, спустя много лет, я начала слышать от разных людей, что, оказывается, мой питомец “убийца”, что он, якобы, должен был меня давно съесть ☺. Сейчас Тайсону 10 лет, он остался жить в Варшаве.

  %p
    Время шло, я очень скучала по Тайсону, но возможности взять собаку не было. И вот спустя почти три года у меня появился шанс взять питомца. Полная оптимизма, начала искать щенка. Конечно же, это должен был быть мальчик черного окраса. Вспомнила про минский клуб “Международный Кинологический Союз”, через который когда-то покупала Тайсона. В клубе мне дали телефон руководителя секции породы амстафф Дарьи Максимчик.
  %p
    Рассказав по телефону Дарье, какого окраса щенка я ищу, выяснилось, что таких щенков в данное время нет. Были рыжие, тигровые, но только не черные. Я обзванивала все новые и новые объявления, “мучила” периодическими звонками Дашу. Было много щенков, но среди них не было моего, неповторимого щеночка. В поисках пролетело 4 месяца, и в очередной раз, созвонившись с Дарьей, приняла совет поискать щенка в России.
  %p
    Началось “перелопачивание” Интернета. Днями, и даже ночами, перелистывала странички питомников. Как-то раз, уже поздней ночью, случайно нашла сайт питомник “Аве Декорум”, г. Москва. Увидев фото Аве Декорум Царской Удачи – щенка-девочки голубого с белым окраса, я не могла отвести глаз.
    Сердце застучало сильней, потому что я увидела СВОЮ собаку! Еле дождавшись утра, я позвонила в питомник “Аве Декорум”. К моему счастью, щенок еще продавался. Уже через 2 дня я ехала в Москву за ней, моей красавицей.
  %p
    Ольга Кузнецова, владелица питомника “Аве Декорум”, оказалась замечательным человеком! Судьба благоволила мне, и у меня появился настоящий друг! Ольга – ветеринар с 13-ти летним стажем, инструктор по конному спорту, заводчик стаффордширских терьеров, умнейший человек, знающий свое дело. На все мои вопросы я всегда получала 100% ответы. Например, на мой вопрос: как можно собаку кормить все время сырым мясом, Ольга ответила: а почему вас не удивляет, что корова может всю жизнь есть одну траву?!
    Впоследствии я получила целый багаж полезных знаний от моей заводчицы: от корма и ухода до дрессировки и принципах племенной работы.
    Бесконечно благодарна Ольге за дружбу, поддержку, помощь и за мою стаффочку!
  = image_tag "/assets/magazine-maxima.jpg", class: "float_r"
  %p
    Имя для малышки мы придумали вместе с братом и назвали ее Максима! Все также вместе мы проделали огромную работу по воспитанию и социализации нашего Амстаффа. Начиная со щенка возили ее по городу в автобусах, водили в самые людные места, даже были в деревне, где показывали ей коровок, лошадок, курочек. Все для того, чтобы наша любимица росла с большим “кругозором”, адекватно относилась к окружающему миру.
  %p
    Когда в нашем городе планировалась выставка собак, Максиме только-только исполнилось полгода. Изначально мы не планировали ходить на выставки, но как-то раз заводчица сказала: “Вы купили щенка в качестве домашнего любимца, но помните, что эта собака отличного происхождения и она никогда не будет хуже тех собак, которые ходят на выставки. Вы всегда можете попробовать, если у вас появится желание”. Сама по себе выставка – это множество собак и людей, участников и зрителей и хорошее место для социализации щенка. Именно потому я и решила записаться на нашу первую выставку.
  %p
    Я позвонила в клуб и так познакомилась с Канаевой Светланой Геннадьевной, которая является председателем совета ООБГКЦ “Фауна”. И снова мне повезло, Светлана Геннадьевна – человек с большой буквы! Безотказная и искренняя, добрейшей души женщина! Первые навыки ринговой подготовки мы получили у нее. Я очень благодарна Светлане Геннадьевне за помощь!
  %p
    Максиму я показывала на выставках всегда сама, училась. Что-то у нас получалось, что-то – нет, но постоянная “работа над ошибками” и упорство, с которым мы занимались, принесли свои результаты. На сегодняшний день Аве Декорум Царская Удача имеет титул Чемпиона Беларуси. Поскольку моей собаке доставляет удовольствие пребывание на выставке, атмосфера соревнований, то мы не остановимся на достигнутом, будем посещать выставки других стран, тем более у нас уже есть положительный опыт и отличный результат посещения выставки в Польше.
  = image_tag "/assets/magazine-damin.jpg", class: "float_l"
  %p
    Дамин, наш тигренок, попал к нам, можно сказать, случайно. Ультро Тайгер из Дома Ланкастер был привезен в Беларусь из Саратова (Россия). Так сложилось, что он попал в руки недобросовестной, безответственной и жестокой горе-хозяйки. Страшно вспоминать, каким мы его взяли. Истощенный, слабый, голодный и замученный, с ушами, купированными “под корень”... Но самым ужасным было то, что у Дамина была нарушена психика. Он боялся всего и всех, был трусливым и недоверчивым. Наша искренняя любовь и терпение растопили его сердце, и уже сегодня мы гордимся нашим мальчиком! Мы также, как и с Максимой, проводили с Дамином социальную адаптацию, только все было в разы сложнее. И на выставки “за компанию” шел также и Дамин. И между “уроками” по предмету “Люди и окружающий мир – ХОРОШИЕ!” наш пес стал Юным Чемпионом Беларуси и Юным Гранд Чемпионом Беларуси!
  %p
    Окунувшись в мир кинологии, я поняла, что это мое занятие. Мне захотелось также стать заводчиком, зарегистрировать свой питомник, получать красивых, здоровых и умненьких стаффиков. Можно сказать, что я нашла дело по душе. Конечно же, понимая, что питомник – это не только официальный документ о регистрации, но в первую очередь знания. Я много времени посвящаю самообучению, а также постоянно учусь у заводчиков, кинологов, владельцев питомников Беларуси, России, Украины, Польши, Швеции.
  %p
    В начале 2010 года наш питомник был зарегистрирован в Международной Кинологической Федерации (FCI), и теперь мы гордо носим имя “Максимум Стафф”!
  %p
    Как говорится, кто полюбил стаффа, то вряд ли остановится на одной собаке. 8 месяцев назад мы приобрели в питомник еще одного парня – Бренд Нью Гиль Эстель из питомника наших друзей в Минске. Великолепный пес, превосходного происхождения, сочетающий в себе крови одних из лучших собак России и Америки! Вместе с совладельцами мы усердно занимаемся дрессировкой и ринговой подготовкой и возлагаем большие надежды на него.
  %p
    Если человек видел или имеет что-то хорошее, он никогда не заменит это на худшее! А если ставит цель и упорно движется к ней, то непременно ее достигнет. Так и в нашем питомнике – идем вперед и стремимся к лучшему, поэтому в скором времени в питомнике планируется существенное пополнение.
  %p
    Выражение “Мы то, что мы едим” тоже относится и к собакам. Для нас важно, чтобы питомцы питались сбалансировано, поэтому наших собак мы кормим натуральной пищей, мясо (телятина, говядина, крольчатина, курица) с овощами, творог и кисломолочные продукты. Как сказала моя заводчица: “Лучше собак кормить правильно и дорого, чем потом отдавать деньги на их лечение!”. Сухой корм мы используем только в качестве лакомства на дрессировке.
  %p
    Всем моим собакам в обязательном порядке делаются всевозможные анализы. Начиная с биохимического анализа крови, и включая анализы на наследственные заболевания, такие как дисплазия тазобедренных и локтевых суставов, мозжечковая атаксия (врожденное нарушение координации движений).
  %p
    В наших щенках я хочу видеть прежде всего здоровых собак с устойчивой психикой. Этому я придаю огромное, пожалуй, самое важное значение. Не преследую цели получить быстрей потомство, а стремлюсь получить качественное и здоровое поголовье. Достойное, за которое не будет стыдно! Уже давно я не смотрю на выставочные титулы собак, прежде всего для меня важна сама собака.
  %p
    Внедрившись, так сказать, в “выставочную жизнь”, я сделала некоторые выводы для себя. Не все собаки, имеющие титулы, представляют из себя действительно достойных представителей породы. Выставка словно лотерея: “повезло – не повезло”. Потому происхождение собаки для меня является во много раз более важным фактором, нежели выставочные заслуги.
  %p
    Каждый породник о своей породе скажет: “Она самая лучшая в мире!”. И мы тоже говорим: “Наша порода – лучшая из лучших!”. Эти собаки – действительно преданные друзья, готовые проводить с вами каждую секунду их жизни, смотрящие на вас широко открытыми и любящими глазами.
  %p
    Мне не приходится волноваться, когда мы гуляем по улицам своего микрорайона, где абсолютно все знают, видели или общались с моими питомцами, потому что не найдется здесь ни одного человека, который ткнул бы пальцем в нашу сторону и сказал, что мои собаки кого-то покусали или напугали. Я горжусь моими собаками! И понастоящему ощущаю себя счастливым владельцем собак породы Американский Стаффордширский Терьер.
  %p
    Мы “стучим” в сердца людей и пытаемся достучаться, показывая на личном примере, какие они – Истинные Амстаффы. Не бойтесь, пообщайтесь с настоящими представителями этой великолепной породы, и вы в корне измените свое мнение о нем!
  %p
    МАРИНА МАКСИМОВА
  %p
    Г. БРЕСТ
  %p
    ноябрь 2010
