<div class="banner_wrapper">
	<% if  @banner %>
		<% if ! @banner.target_url.blank? %>	
	<div id="big_banner">
		<a class="big_banner_link" href="<%= @banner.target_url %>" >
		<% end %>

    <!--<h1 id="default_h1"><%= @banner.title %></h1>-->
		<%= @banner.content.html_safe %>
		<% if ! @banner.target_url.blank? %>	
			</a>
		<% end %>
	</div>
	<% end %>
</div>
