<!--
<style>
  .content{
    background:url(/ckeditor_assets/pictures/5/original_group_d.jpg) no-repeat center bottom;
    height:750px;
    border-top: 1px solid #eee;
  }
  .content h1{
    text-align:center;
  }
</style>
-->
<style>
  .content div.text{
    width:450px;
    text-align:justify;
  }
  .content strong{
    font-family: HennyPenny;
    font-size:13pt;
  }
  .polaroid{
    margin:20px 0 0 10px;
    transform: rotate(2deg);
  }
</style>
<div class="float_l text">
  <p><strong>Aleksa's House</strong> — <em>питомник китайских хох&shy;латых собачек</em> находится в Бресте, Республика Беларусь, зарегистрирован в 2010 году (свидетельство БКО №770/2010(48/10)). Владе&shy;лица — Леваневская-Перевозчикова Александра Игоревна.</p>
<p>Все собаки питомника свободно передвигаются по дому, яв&shy;ляются членами семьи, много гуляют. У питомцев хорошая пси&shy;хика, они очень любят контактировать с людьми, как со взрослыми так и&nbsp;с детишками. Собаки регулярно посещают выставки и подтверждают свою породность успешными вы&shy;ступлениями а рингах.</p>
<p>Мы поможем вам понять, какой щенок нужен вам, просто любимец для дома или участник выставок. Подходит ли вам эта порода собак в целом и как за ней ухаживать, чтобы собака была всегда как с "картинки" т.к. эта порода не для ленивого.</p>
 <p>Китайские хохлатые очень подвижны, нуждаются в регуляр&shy;ных прогулках на улице. Уход за кожей и шерстью тоже не так прост и должен быть регулярным. К решению завести щенка необходимо подойти ответственно, что бы вы и ваш питомец получали только позитивные эмоции!</p>
 <ul>
   <li>вязки</li>
   <li>щенки</li>
   <li>консультации по породе</li>
   <li>помощь в выращивании</li>
 </ul>
 <p> С уважением,<br /> Леваневская-Перевозчикова Александра Игоревна.</p>
 <p>aleksashouse@gmail.com<br />
 +375 29 792 32 55<br />
 +375 29 692 32 33 </p>
 </div>
 <div class="polaroid h float_l">
   <img src="<%= asset_path "sasha_hoshi_ring.jpg" %>" />
 </div>
 
 

 

 

