// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.avatar{
  max-height: 500px;
	color: #fff;
	font-weight: normal;
	text-align: center;
	h1, h2{
		position: relative;
		z-index: 100;
		width: 100%;
		font-weight: normal;
		text-shadow: 0px 0px 5px #000;
	}
	h1{
		position: absolute;
	  margin-top: 3%;
	}
	h2{
		//margin-top: -22%;
		//position: absolute;
		font-size: 250%;
		small{
			font-size: 50%;
		}
	}
}
.avatar{
	background-size: contain;
}
.dog_actions{
	background: #0a0;
}
.avatar img{
	//margin-top: -5%;
	//position: relative;
	display: block;
	z-index: 10;
	width: 100%;
}
.dog{
  //padding:0 20px;
  line-height:120%;
  font-size:120%;
  min-width: 300px;
  h1{
    font-family: HennyPenny;
    font-size:150%;
    //font-size: 1.8vw;
    text-align:center;
    line-height:120%;
  }
  a{
    text-decoration: none;
  }
  .avatar{
    text-align:center;
    padding:40px;
    img{
      width:70%; 
      max-width:200px;
      min-width:150px;
      border-radius:50%;
      overflow:hidden;
    }
    h1{
      margin-top: 20px;
      text-align: center;
    }
  }
  .dog_desc{
    padding:10px;
  }
  .desc{
    //max-width:600px;
    //padding:20px;
  }
}

.dog_galery{
  background: image-url("whitewood.jpg") repeat #555;
}
.dog_title{
  padding-bottom:20px;
}

@media screen and (min-width: 600px) {
  .dog{
    h1{
      text-align:left;
    }
    .desc{
      padding:0px;
    }
    .avatar{
    }
  }
}
@media screen and (min-width: 860px) {
  .dog{
    .desc{
      margin:0;
    }
  }
}

.dog_page_item{
  margin: 20px 10px;
  //border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  overflow: hidden;
  background: #fff;
}
.dog_photo img{
  width: 100%;
}
.mosaic{
	margin-top: 5%;
}
.mosaic_element{
  width: 50%;
}
